<html>
	<head>
		<title>Módulo-1</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Numbiosis</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

        <!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/modulo1/">Modulo-1</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Módulo-1</h2>
								<p>Neste módulo você encontrará os metodos da falsa posição, secante e de muller.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">Resumo</h3>
									<section>
										<h4>Método da falsa posição</h4>
										<p>Método numérico usado para resolver equações lineares definidas em um intervalo [a, b],
											partindo do pressuposto de que haja uma solução em um subintervalo contido em [a, b]</p>
									</section>

									<section>
										<h4>Método das Secantes</h4>
										<p>Em análise numérica, o método das secantes é um algoritmo de busca de raízes que usa uma sequência de
											raízes de linhas secantes para aproximar cada vez melhor a raiz de uma função f.</p>
									</section>

									<section>
										<h4>Método de Müller</h4>
										<p>
												O método de Muller é um método numérico para o cálculo de uma ou mais raízes de equações de uma variável
												baseado em uma aproximação quadrática. Foi proposto inicialmente por David E. Muller em 1956.
												Conhecendo-se o intervalo [x0, x2] ao qual a raiz pertence, é feita uma aproximação da função f(x) na
												proximidade da raiz ξ com um polinômio interpolador de grau 2. O polinômio deve passar pelos três pontos [x0, f(x0)],
												[x1, f(x1)] e [x2, f(x2)] interpolados e então a raiz do polinômio será a primeira estimativa da raiz de f(x)=0.
												Novas iterações são feitas repetindo esse procedimento com os três pontos mais próximos da raiz.
												Essa técnica é uma modificação do Método das secantes, pois ao invés da aproximação ser feita pela reta
												que passa por dois pontos da curva, é feita pela parábola que passa por três pontos dados.
												Portanto, a estimativa para a raiz é melhor pelo método de Muller do que pelo das Secantes.
										</p>
									</section>

									<section class="features">
										<article style="width: 15.2em;">
											<a href="/modulo1/falsaposicao" class="image">
												<img src="/static/images/fig141.png" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo1/falsaposicao" class="special">
												Método da falsa posição
											</a>
											</h4>
										</article>

										<article style="width: 15.2em; margin-right: 3em;">
											<a href="/modulo1/secante" class="image">
												<img src="/static/images/secante.jpg" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo1/secante" class="special">
												Método da Secante
											</a>
											</h4>
										</article>

										<article style="width: 15.2em;">
											<a href="/modulo1/muller" class="image">
												<img src="/static/images/muller.jpg" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo1/muller" class="special">
												Método da falsa posição
											</a>
											</h4>
										</article>

									</section>

								</div>
							</div>

					</section>

				<!-- Footer -->
        <!-- Footer -->
					<section id="footer">
            <div class="inner">
              <ul class="copyright">
                <li>Autores:   Claudio Lourenço</li>
								<li>Gustavo Fraga</li>
								<li>Juan Luiggi</li>
                <li>Lucas Bittencourt</li>
                <li>Richelieu Costa</li>
                <li>Thiago Luiz</li>
              </ul>
            </div>
          </section>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
	</body>
</html>
