<html>
	<head>
		<title>Módulo-2</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Numbiosis</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

        <!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/modulo1/">Modulo-1</a></li>
              <li><a href="/modulo2/">Modulo-2</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Módulo-2</h2>
								<p>Neste módulo você encontrará os metodos Gauss-Jordan, Newton para sistemas não-lineares e Interpolação por splines..</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">Resumo</h3>
									<section>
										<h4>Gauss-Jordan</h4>
										<p>Método numérico usado para resolver sistemas de equações lineares </p>
									</section>

									<section>
										<h4>Newton para sistemas não-lineares </h4>
										<p>descrever</p>
									</section>

									<section>
										<h4>Interpolação por splines</h4>
										<p>
												descrever
										</p>
									</section>

									<section class="features">
										<article style="width: 15.2em;">
											<a href="/modulo2/gaussJordan" class="image">
												<img src="/static/images/fig141.png" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo2/gaussJordan" class="special">
												Método de Gauss Jordan
											</a>
											</h4>
										</article>
										<article style="width: 15.2em; margin-right: 3em;">
											<a href="/modulo2/newton" class="image">
												<img src="/static/images/newton.png" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo2/newton" class="special">
												Newton (Sistemas não lineares)
											</a>
											</h4>
										</article>

										<article style="width: 15.2em;">
											<a href="/modulo2/splines" class="image">
												<img src="/static/images/splines.jpg" alt="" />
											</a>
											<h4 class="major">
											<a href="/modulo2/splines" class="special">
												Splines
											</a>
											</h4>
										</article>
									</section>

								</div>
							</div>

					</section>

				<!-- Footer -->
        <!-- Footer -->
					<section id="footer">
            <div class="inner">
              <ul class="copyright">
                <li>Autores:   Claudio Lourenço</li>
                <li>Gustavo Fraga</li>
                <li>Lucas Bittencourt</li>
                <li>Richelieu Costa</li>
                <li>Thiago Luiz</li>
              </ul>
            </div>
          </section>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
	</body>
</html>
